/***** GOOGLE FONT *****/
@import url("https://fonts.googleapis.com/css?family=Changa:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
/***** COLORS *****/
.light-grey {
  color: #818284;
}

.medium-grey {
  color: #414140;
}

.dark-grey {
  color: #1e2023;
}

.blue-green {
  color: #5cafa6;
}

.yellow-bsm {
  color: #f4c55c;
}

.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

/***** BACKGROUND COLORS *****/
.bg-light-grey {
  background-color: #818284;
}

.bg-medium-grey {
  background-color: #414140;
}

.bg-dark-grey {
  background-color: #1e2023;
}

.bg-blue-green {
  background-color: #5cafa6;
}

.bg-yellow-bsm {
  background-color: #f4c55c;
}

/***** FONT & TITLES *****/
p {
  font-size: 14pt;
  font-family: "Source Sans Pro";
  cursor: default;
}
@media (max-width: 600px) {
  p {
    font-size: 10pt;
  }
}

.p-small p {
  font-size: 11pt;
  font-family: "Source Sans Pro";
  color: #818284;
}

h1 {
  font-size: 50pt;
  font-family: "Changa";
  font-weight: bold;
  color: #1e2023;
  text-transform: uppercase;
}

h2 {
  font-size: 45pt;
  font-family: "Changa";
  font-weight: bold;
  color: #1e2023;
  text-transform: uppercase;
  margin-top: 12%;
}

h3 {
  font-size: 25pt;
  font-family: "Changa";
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 840px) {
  h3 {
    margin-top: 10%;
    margin-bottom: 4%;
  }
}
@media (max-width: 600px) {
  h3 {
    font-size: 18pt;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

h4 {
  font-size: 18pt;
  font-family: "Changa";
  text-transform: uppercase;
  cursor: default;
}
@media (max-width: 600px) {
  h4 {
    font-size: 12pt;
  }
}

h5 {
  font-size: 12pt;
  font-family: "Changa";
  font-weight: bold;
  text-transform: uppercase;
}

h6 {
  font-size: 12pt;
  font-family: "Source Sans Pro";
  font-weight: bold;
  text-transform: uppercase;
}

.shadow {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.white a:link, .white a:visited {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.medium-grey a:link, .medium-grey a:visited {
  text-decoration: none;
  color: #414140;
  cursor: pointer;
}
.medium-grey a:link :hover, .medium-grey a:visited :hover {
  color: #f4c55c;
}

/***** LOGOS & PICTOS *****/
.logo-fb-blue {
  background: url(../img/picto/fb-blue.svg) no-repeat center;
  height: 70px;
  width: 70px;
  margin: 35px 10% 0 auto;
}

.logo-fb-blue:hover {
  background: url(../img/picto/fb-hover.svg) no-repeat center;
  transition: 0.6s;
}

.logo-insta-blue {
  background: url(../img/picto/insta-blue.svg) no-repeat center;
  height: 70px;
  width: 70px;
  margin: 35px 10% 0 0;
}

.logo-insta-blue:hover {
  background: url(../img/picto/insta-hover.svg) no-repeat center;
  transition: 0.6s;
}

.logo-bsm-color {
  height: 150px;
  width: 150px;
  margin-left: 10%;
}
@media (max-width: 840px) {
  .logo-bsm-color {
    width: 60%;
    height: 35%;
    margin-top: 5%;
    margin-left: auto;
  }
}
@media (max-width: 600px) {
  .logo-bsm-color {
    width: 60%;
    height: 50%;
    margin-top: 5%;
    margin-left: auto;
  }
}

.logo-bsm-color-resp {
  height: 150px;
  width: 150px;
}

.logo-bsm-bk {
  height: 50px;
  width: 50px;
}

/***** NAVBAR *****/
.navbar {
  height: 150px;
  background: rgba(255, 255, 255, 0.7);
  width: 100vw;
  z-index: 100;
  padding-left: 5%;
  padding-right: 4%;
}

.navbar ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  height: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar ul li a:hover {
  background: #5cafa6;
  color: white;
  transition: 0.6s;
}

.active, .active a {
  background: #f4c55c;
  color: white;
}

.navbar ul li a {
  display: inline-block;
  font-size: 16pt;
  color: #1e2023;
  text-align: center;
  padding-top: 55px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  height: 100%;
}
@media (max-width: 1280px) {
  .navbar ul li a {
    font-size: 12pt;
    padding-top: 60px;
  }
}

.logo-bsm-nav {
  height: 150px;
  width: 150px;
}

/***** BUTTONS *****/
.button-down {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 820px;
  right: 48%;
  left: 48%;
}

.button-white-up {
  height: 50px;
  width: 50px;
}

.button-grey {
  height: 50px;
  width: 50px;
}

/***** ACCUEIL *****/
.button-white-down {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 820px;
  right: 5%;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 2800px;
  position: relative;
}
@media (max-width: 840px) {
  body {
    height: 2300px;
  }
}
@media (max-width: 600px) {
  body {
    height: 1940px;
  }
}

.sea {
  background: url(../img/photos/background-index.jpg) no-repeat;
  margin: 0;
}

.index-header {
  height: 150px;
}

.h1-accueil {
  font-size: 55pt;
  text-orientation: upright;
  letter-spacing: -40px;
  writing-mode: vertical-lr;
  margin-left: auto;
  margin-right: auto;
  word-spacing: 50%;
  cursor: default;
}
@media (max-width: 840px) {
  .h1-accueil {
    font-size: 30pt;
    text-orientation: initial;
    letter-spacing: initial;
    writing-mode: initial;
  }
}

.h3-accueil {
  margin-top: 40px;
}

.h3-accueil a {
  text-decoration: none;
  color: white;
}
.h3-accueil a :hover {
  color: #5cafa6;
}

.box-h1 {
  width: 100px;
  height: 1900px;
  margin-top: 8%;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 840px) {
  .box-h1 {
    width: 80%;
  }
}

.picto-sous-marin {
  top: 100px;
  width: 400px;
  z-index: -1;
}
@media (max-width: 840px) {
  .picto-sous-marin {
    max-width: 80%;
  }
}

#menu-lbsm {
  position: absolute;
  top: 950px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

#menu-visite {
  position: absolute;
  top: 1450px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

#menu-programmation {
  position: absolute;
  top: 1200px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

#menu-contact {
  position: absolute;
  top: 2000px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

/***** RESPONSIVE ACCUEIL *****/
.mobile a {
  text-decoration: none;
  color: #f4c55c;
}

.mobile h4 {
  color: #5cafa6;
}

.mobile p {
  color: white;
}

/***** FOOTER *****/
.menu-footer p {
  margin: 5px;
  cursor: pointer;
}

.contact-footer {
  padding-top: 35px;
}

.footer-resp p {
  font-size: 12pt;
  margin-top: 20px;
}

.menu-footer a:link, .menu-footer a:visited {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.menu-footer a:link :hover, .menu-footer a:visited :hover {
  color: #f4c55c;
}

.mentions a:link, .mentions a:visited {
  text-decoration: none;
  color: #818284;
  cursor: pointer;
}

.align-footer {
  padding-top: 30px;
}

.align-footer-p {
  margin-top: 24px;
}

.ancre-footer {
  padding-top: 30px;
}

footer {
  width: 100vw;
  height: 450px;
  bottom: 0;
}
@media (max-width: 840px) {
  footer {
    height: 270px;
  }
}

.mail-footer {
  color: #1e2023;
  padding: 3% 2% 3% 4%;
  width: 250px;
}

button[type=submit] {
  background-color: transparent;
  border: none;
}

.send-button {
  background: url(../img/picto/button/send-grey.svg) no-repeat center;
  height: 43px;
  width: 150px;
  cursor: pointer;
}

.send-button:hover {
  background: url(../img/picto/button/send-clear.svg) no-repeat center;
  transition: 0.8s;
}

.logo-fb-footer {
  background: url(../img/picto/fb-blue.svg) no-repeat center;
  height: 50px;
  width: 50px;
  margin: 10px auto 10px auto;
}

.logo-fb-footer:hover {
  background: url(../img/picto/fb-hover.svg) no-repeat center;
  transition: 0.6s;
}

.logo-insta-footer {
  background: url(../img/picto/insta-blue.svg) no-repeat center;
  height: 50px;
  width: 50px;
  margin: 10px auto 10px auto;
}

.logo-insta-footer:hover {
  background: url(../img/picto/insta-hover.svg) no-repeat center;
  transition: 0.6s;
}

.logo-bsm-footer {
  background: url(../img/picto/logo-bsm-bk.svg) no-repeat center;
  height: 100px;
  width: 150px;
  margin: auto;
}

.logo-fb-resp {
  background: url(../img/picto/fb-blue.svg) no-repeat center;
  height: 60px;
  width: 60px;
  margin: 20px auto;
}

.logo-fb-resp:hover {
  background: url(../img/picto/fb-hover.svg) no-repeat center;
  transition: 0.6s;
}

.logo-insta-resp {
  background: url(../img/picto/insta-blue.svg) no-repeat center;
  height: 60px;
  width: 60px;
  margin: 20px auto;
}

.logo-insta-resp:hover {
  background: url(../img/picto/insta-hover.svg) no-repeat center;
  transition: 0.6s;
}

/***** Page LBSM *****/
.bsm-hero {
  background: url(../img/photos/page-lbsm/bsm-hero.jpg) no-repeat center;
  height: 100vh;
  background-size: cover;
  padding-top: 150px;
}

.h1-hero-bsm {
  width: 600px;
  text-align: right;
  margin: 5% 0 0 auto;
}

.intro-lbsm {
  margin-bottom: 2%;
}

.h3-auto h3 {
  margin-top: 55px;
  text-decoration: none;
}

/*Button menu page */
.hover-histoire {
  background-color: #5cafa6;
  height: 150px;
}

.hover-histoire a {
  height: 150px;
}

.hover-histoire:hover {
  background: url(../img/photos/page-lbsm/bsm-hover-histoire2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

/* Button menu page */
.hover-projets {
  background-color: #f4c55c;
  height: 150px;
}

.hover-projets a {
  height: 150px;
}

.hover-projets:hover {
  background: url(../img/photos/page-lbsm/bsm-hover-projets.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

/* end button menu */
.text-lbsm-left {
  padding-right: 10%;
}

.text-lbsm-right {
  padding-left: 10%;
}

.bloc {
  margin-top: 30px;
}

/* Text highlighted on paragraphs */
.text-highlight {
  margin-top: -30px;
}

.text-highlight-number {
  margin-top: -30px;
  margin-bottom: -60px;
}

.text-number {
  font-size: 180pt;
  padding-left: 0;
  margin-top: -62px;
  margin-left: -15px;
}

.colonne-text {
  column-count: 2;
  column-gap: 160px;
}

.text-1 {
  font-size: 80pt;
}

.text-2 {
  font-size: 36pt;
}

.text-3 {
  font-size: 70pt;
}

.text-4 {
  font-size: 18pt;
}

.text-5 {
  font-size: 51pt;
  margin-bottom: -15px;
}

.text-6 {
  font-size: 31pt;
  width: 400px;
  margin-bottom: 0;
}

.align-number {
  margin-top: 15px;
}

.exposant {
  font-size: 75%;
  position: relative;
  line-height: 0;
  vertical-align: baseline;
  top: 0.6em;
}

/* end highlight */

/*# sourceMappingURL=style.css.map */
