/***** GOOGLE FONT *****/
@import url("https://fonts.googleapis.com/css?family=Changa:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
/***** COULEURS *****/
.light-grey {
  color: #818284;
}

.medium-grey {
  color: #414140;
}

.dark-grey {
  color: #1e2023;
}

.blue-green {
  color: #5cafa6;
}

.yellow-bsm {
  color: #f4c55c;
}

.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

/***** BACKGROUND COLORS *****/
.bg-light-grey {
  background-color: #818284;
}

.bg-medium-grey {
  background-color: #414140;
}

.bg-dark-grey {
  background-color: #1e2023;
}

.bg-blue-green {
  background-color: #5cafa6;
}

.bg-yellow-bsm {
  background-color: #f4c55c;
}

/***** FONT & TITRES *****/
p {
  font-size: 14pt;
  font-family: "Source Sans Pro";
}

.p-accueil p {
  font-size: 11pt;
  font-family: "Source Sans Pro";
  color: #818284;
}

h1 {
  font-size: 50pt;
  font-family: "Changa";
  color: #1e2023;
  text-transform: uppercase;
}

h2 {
  font-size: 40pt;
  font-family: "Changa";
  font-weight: bold;
  color: #1e2023;
  text-transform: uppercase;
}

h3 {
  font-size: 25pt;
  font-family: "Changa";
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font-size: 18pt;
  font-family: "Changa";
  text-transform: uppercase;
}

h5 {
  font-size: 12pt;
  font-family: "Changa";
  font-weight: bold;
  text-transform: uppercase;
}

h6 {
  font-size: 12pt;
  font-family: "Source Sans Pro";
  font-weight: bold;
  text-transform: uppercase;
}

/***** LOGOS & PICTOS *****/
.logo-fb-blue {
  background: url(../img/picto/fb-blue.svg) no-repeat center;
  height: 70px;
  width: 70px;
  margin: 35px 10% 0 auto;
}

.logo-fb-blue:hover {
  background: url(../img/picto/fb-hover.svg) no-repeat center;
}

.logo-insta-blue {
  background: url(../img/picto/insta-blue.svg) no-repeat center;
  height: 70px;
  width: 70px;
  margin: 35px 10% 0 0;
}

.logo-insta-blue:hover {
  background: url(../img/picto/insta-hover.svg) no-repeat center;
}

.logo-bsm-color {
  height: 150px;
  width: 150px;
  margin-left: 10%;
}

.logo-bsm-bk {
  height: 150px;
  width: 150px;
}

/***** NAVBAR *****/
.navbar {
  height: 150px;
}

.navbar ul {
  list-style-type: none;
  margin: 0 0 0 auto;
  padding-right: 0;
  padding-left: 0;
}

.navbar ul li {
  display: inline-block;
  height: 100%;
  margin: 0;
}

.navbar ul li a:hover {
  background: #5cafa6;
  transition: 0.6s;
}

.navbar ul li a:active {
  background: #f4c55c;
  color: white;
}

.navbar ul li a {
  display: inline-block;
  font-size: 18pt;
  color: #1e2023;
  text-align: center;
  padding: 52px 25px 0 25px;
  text-decoration: none;
  height: 100%;
}

/***** MENU BURGER *****/
/***** FOOTER *****/
.menu-footer p {
  margin: 5px;
}

/***** BUTTONS *****/
.button-white-down {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 800px;
  right: 5%;
}

.button-white-up {
  height: 50px;
  width: 50px;
}

.button-grey {
  height: 50px;
  width: 50px;
}

/***** ACCUEIL *****/
html {
  scroll-behavior: smooth;
}

.sea {
  background: url(../img/photos/background-index.jpg) no-repeat;
  margin: 0;
}

.index-header {
  height: 150px;
}

.h1-accueil {
  text-orientation: upright;
  letter-spacing: -40px;
  writing-mode: vertical-lr;
  margin-left: auto;
  margin-right: auto;
  word-spacing: 50%;
}

.h3-accueil a {
  text-decoration: none;
  color: white;
}
.h3-accueil a :hover {
  color: #5cafa6;
}

.box-h1 {
  width: 100px;
  height: 1700px;
  margin-top: 8%;
  margin-right: auto;
  margin-left: auto;
}

.picto-sous-marin {
  top: 100px;
  width: 400px;
  z-index: -1;
}

#menu-lbsm {
  position: absolute;
  top: 950px;
  width: 400px;
}

#menu-visite {
  position: absolute;
  top: 1350px;
  width: 400px;
}

#menu-programmation {
  position: absolute;
  top: 1150px;
  width: 400px;
}

#menu-contact {
  position: absolute;
  top: 1800px;
  width: 400px;
}

/*# sourceMappingURL=style.css.map */
