/***** GOOGLE FONT *****/

@import url('https://fonts.googleapis.com/css?family=Changa:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

/***** COLORS *****/

$light-grey: #818284;
$medium-grey:#414140;
$dark-grey:#1e2023;
$blue-green:#5cafa6;
$yellow-bsm:#f4c55c;
$blue-dark:#2cb1a5;
$yellow-dark:#f0b227;

.light-grey {
    color: $light-grey;
}
.medium-grey {
    color: $medium-grey;
}
.dark-grey {
    color: $dark-grey;
}
.blue-green {
    color: $blue-green;
}
.yellow-bsm {
    color: $yellow-bsm;
}
.white {
    color: #ffffff;
}
.black {
    color: #000000;
}

/***** BACKGROUND COLORS *****/

.bg-light-grey {
    background-color: $light-grey;
}
.bg-medium-grey {
    background-color: $medium-grey;
}
.bg-dark-grey {
    background-color: $dark-grey;
}
.bg-blue-green {
    background-color: $blue-green;
}
.bg-yellow-bsm {
    background-color: $yellow-bsm;
}
.bg-blue-dark {
    background-color: $blue-dark;
}
.bg-yellow-dark {
    background-color: $yellow-dark;
}

/***** FONT & TITLES *****/
p {
    font-size: 14pt;
    font-family: 'Source Sans Pro';
    cursor: default;
    @media (max-width: 600px) {
        font-size: 10pt;
    }
}

.p-small p {
    font-size: 11pt;
    font-family: 'Source Sans Pro';
    color: $light-grey;
}

h1 {
    font-size: 50pt;
    font-family: 'Changa';
    font-weight: bold;
    color: $dark-grey;
    text-transform: uppercase;
}

h2 {
    font-size: 45pt;
    font-family: 'Changa';
    font-weight: bold;
    color: $dark-grey;
    text-transform: uppercase;
    margin-top: 12%;
}

h3 {
    font-size: 25pt;
    font-family: 'Changa';
    font-weight: bold;
    text-transform: uppercase;
    @media (max-width: 840px) {
        margin-top: 10%;
        margin-bottom: 4%;
    }
    @media (max-width: 600px) {
        font-size: 18pt;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

h4 {
    font-size: 18pt;
    font-family: 'Changa';
    text-transform: uppercase;
    cursor: default;
    @media (max-width: 600px) {
        font-size: 12pt;
    }
}

h5 {
    font-size: 12pt;
    font-family: 'Changa';
    font-weight: bold;
}

h6 {
    font-size: 12pt;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    text-transform: uppercase;
}

.shadow {
    text-shadow: black 0.1em 0.1em 0.2em
}

.white a:link, .white a:visited {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.medium-grey a:link, .medium-grey a:visited{
    text-decoration: none;
    color: $medium-grey;
    cursor: pointer;
    :hover {
        color: $yellow-bsm;
    }
}

/***** LOGOS & PICTOS *****/

.logo-fb-blue {
    background: url(../img/picto/fb-blue.svg) no-repeat center;
    height: 70px;
    width: 70px;
    margin: 35px 10% 0 auto;
}

.logo-fb-blue:hover {
        background: url(../img/picto/fb-hover.svg) no-repeat center;
        transition: 0.6s;
}

.logo-insta-blue {
    background: url(../img/picto/insta-blue.svg) no-repeat center;
    height: 70px;
    width: 70px;
    margin: 35px 10% 0 0;
}

.logo-insta-blue:hover {
        background: url(../img/picto/insta-hover.svg) no-repeat center;
        transition: 0.6s;
}

.logo-bsm-color {
    height: 150px;
    width: 150px;
    margin-left: 10%;
    @media (max-width: 840px) {
        width: 60%;
        height: 35%;
        margin-top: 5%;
        margin-left: auto;
    }
    @media (max-width: 600px) {
        width: 60%;
        height: 50%;
        margin-top: 5%;
        margin-left: auto;
    }
}

.logo-bsm-color-resp {
    height: 150px;
    width: 150px;
}

.logo-bsm-bk {
    height: 50px;
    width: 50px;
}

/***** NAVBAR *****/

.navbar {
    height: 150px;
    background: rgba(255, 255, 255, 0.7);
    width: 100vw;
    z-index: 100;
    padding-left: 5%;
    padding-right: 4%;
}

.navbar ul {
    list-style-type: none;
    margin-top: 0 ;
    margin-bottom: 0 ;
    padding:0;
}

.navbar ul li {
    display: inline-block;
    height: 150px;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar ul li a:hover {
    background: $blue-green;
    color: white;
    transition: 0.6s;
}

.active-nav, .active-nav a {
    background: $yellow-bsm;
    color: white;
}

.navbar ul li a{
    display: inline-block;
    font-size: 16pt;
    color: $dark-grey;
    text-align: center;
    padding-top: 55px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    height: 100%;
    @media (max-width: 1280px) {
        font-size: 12pt;
        padding-top: 60px;
    }
}

.logo-bsm-nav {
    height: 150px;
    width: 150px;
}

/***** BUTTONS *****/

.button-down {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 820px;
    right: 48%;
    left: 48%;
}

.button-white-up {
    height: 50px;
    width: 50px;
}

.button-grey {
    height: 50px;
    width: 50px;
}

/***** ACCUEIL *****/

.button-white-down {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 820px;
    right: 5%;
}

html {
    scroll-behavior: smooth;
}

.body-accueil {
    height: 2800px;
    position: relative;
    @media (max-width: 840px) {
        height: 2300px;
    }
    @media (max-width: 600px) {
        height: 1940px;
    }
}

.sea {
    background: url(../img/photos/background-index.jpg) no-repeat;
    margin: 0;
}

.index-header {
    height: 150px;
}

.h1-accueil {
    font-size: 55pt;
    text-orientation: upright;
    letter-spacing: -40px;
    writing-mode: vertical-lr;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 50%;
    cursor: default;
    @media (max-width: 840px) {
        font-size: 30pt;
        text-orientation: initial;
        letter-spacing: initial;
        writing-mode: initial;
    }
}

.h3-accueil {
    margin-top: 40px;
}

.h3-accueil a{
    text-decoration: none;
    color: white;
    :hover {
        color: $blue-green
    }
}

.box-h1 {
    width: 100px;
    height: 1900px;
    margin-top: 8%;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 840px) {
        width: 80%;
    }
}

.picto-sous-marin {
    top: 100px;
    width: 400px;
    z-index: -1;
    @media (max-width: 840px) {
        max-width: 80%;
    }
}

#menu-lbsm {
    position: absolute;
    top: 950px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
#menu-visite {
    position: absolute;
    top: 1450px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
#menu-programmation {
    position: absolute;
    top: 1200px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
#menu-contact {
    position: absolute;
    top: 2000px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

/***** RESPONSIVE ACCUEIL *****/ 

.mobile a{
    text-decoration: none;
    color: $yellow-bsm;
}

.mobile h4{
    color: $blue-green;
}

.mobile p{
    color: white;
}


/***** FOOTER *****/

.menu-footer p {
    margin: 5px;
    cursor: pointer;
}

.contact-footer {
    padding-top: 35px;
}

.footer-resp p {
    font-size: 12pt;
    margin-top: 20px;
}

.menu-footer a:link, .menu-footer a:visited{
    text-decoration: none;
    color: white;
    cursor: pointer;
    :hover {
        color: $yellow-bsm
    }
}

.mentions a:link, .mentions a:visited{
    text-decoration: none;
    color: $light-grey;
    cursor: pointer;
}

.align-footer {
    padding-top: 30px;
}

.align-footer-p {
    margin-top: 24px;
}

.ancre-footer {
    padding-top: 30px;
}

footer {
    width: 100vw;
    height: 450px;
    bottom: 0;
    @media (max-width: 840px) {
        height : 270px;
    }
}

.mail-footer {
    color: $dark-grey;
    padding: 3% 2% 3% 4%;
    width: 250px;
}

button[type=submit] {
    background-color: transparent;
    border: none;
}

.send-button {
    background: url(../img/picto/button/send-grey.svg) no-repeat center;
    height: 43px;
    width: 150px;
    cursor: pointer;
}

.send-button:hover {
    background: url(../img/picto/button/send-clear.svg) no-repeat center;
    transition: 0.8s;
}

.logo-fb-footer {
    background: url(../img/picto/fb-blue.svg) no-repeat center;
    height: 50px;
    width: 50px;
    margin: 10px auto 10px auto;
}

.logo-fb-footer:hover {
    background: url(../img/picto/fb-hover.svg) no-repeat center;
    transition: 0.6s;
}

.logo-insta-footer {
    background: url(../img/picto/insta-blue.svg) no-repeat center;
    height: 50px;
    width: 50px;
    margin: 10px auto 10px auto;
}

.logo-insta-footer:hover {
    background: url(../img/picto/insta-hover.svg) no-repeat center;
    transition: 0.6s;
}

.logo-bsm-footer {
    background: url(../img/picto/logo-bsm-bk.svg) no-repeat center;
    height: 100px;
    width: 150px;
    margin: auto;
}

.logo-fb-resp {
    background: url(../img/picto/fb-blue.svg) no-repeat center;
    height: 60px;
    width: 60px;
    margin: 20px auto;
}

.logo-fb-resp:hover {
        background: url(../img/picto/fb-hover.svg) no-repeat center;
        transition: 0.6s;
}

.logo-insta-resp {
    background: url(../img/picto/insta-blue.svg) no-repeat center;
    height: 60px;
    width: 60px;
    margin: 20px auto;
}

.logo-insta-resp:hover {
    background: url(../img/picto/insta-hover.svg) no-repeat center;
    transition: 0.6s;
}

/***** Page LBSM *****/

.body-bsm {
    height: 6650px;
    position: relative;
    @media (max-width: 840px) {
        height: 2300px;
    }
    @media (max-width: 600px) {
        height: 1940px;
    }
}

.bsm-hero {
    background: url(../img/photos/page-lbsm/bsm-hero.jpg) no-repeat center;
    height: 100vh;
    background-size: cover;
    padding-top: 150px;
}

.h1-hero-bsm {
    width: 600px;
    text-align: right;
    margin: 5% 0 0 auto;
}

.intro-lbsm {
    // margin-top: 12%;
    margin-bottom: 2%;
}

.h3-auto h3 {
    margin-top: 55px;
    text-decoration: none;
    width: 100%;
}

.h3-auto-big h3 {
    margin-top: 130px;
    text-decoration: none;
    width: 100%;
}

.h3-auto-big {
    height: 300px;
}

/*Button menu page */
    .hover-histoire {
        background-color: $blue-green;
        height: 150px;
    }

    .hover-histoire a {
        height: 150px;
    }

    .hover-histoire:hover {
        background: url(../img/photos/page-lbsm/bsm-hover-histoire2.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        transition: 0.5s;
    }

        /* Button menu page */

        .hover-projets {
            background-color: $yellow-bsm;
            height: 150px;
        }

        .hover-projets a {
            height: 150px;
        }

        .hover-projets:hover {
            background: url(../img/photos/page-lbsm/bsm-hover-projets.jpg) no-repeat;
            background-size: cover;
            background-position: center;
            transition: 0.5s;
        }
        /* end button menu */


.text-lbsm-left {
    padding-right: 10%;
}

.text-lbsm-right {
    padding-left: 10%;
}

.bloc {
    margin-top: 50px;
}

    /* Text highlighted on paragraphs */

    .text-highlight {
        margin-top: -30px;
    }

    .text-highlight-number {
        margin-top: -30px;
        margin-bottom: -60px;
    }

    .text-number {
        font-size: 180pt;
        padding-left: 0;
        margin-top: -62px;
        margin-left: -15px;
    }

    .colonne-text {
        column-count: 2;
        column-gap: 160px;
    }
    
    .text-1 {
        font-size: 80pt;
    }

    .text-2 {
        font-size: 36pt;
    }

    .text-3 { 
        font-size: 70pt;
    }

    .text-4 {
        font-size: 18pt;
    }

    .text-5 {
        font-size: 51pt;
        margin-bottom: -15px;
    }

    .text-6 {
        font-size: 31pt;
        width: 400px;
        margin-bottom: 0;
    }

    .align-number {
        margin-top: 15px;
    }

    .exposant {
        font-size: 75%;
        position: relative;
        line-height: 0;
        vertical-align: baseline;
        top: 0.6em;
    }
    /* end highlight */

/***** Page VISITE *****/

.body-visite {
    height: 4100px;
    position: relative;
    @media (max-width: 1200px) {
        height: 4300px;
    }
    @media (max-width: 840px) {
        height: 6000px;
    }
    @media (max-width: 600px) {
        height: 6500px;
    }
}

.size-menu-hover {
    height: 300px;
}

    /*Button menu page */
    .hover-tarifs {
        background-color: $blue-green;
        height: 150px;
    }

    .hover-tarifs a {
        height: 150px;
    }

    .hover-tarifs:hover {
        background: url(../img/photos/page-visite/bsm-hover-tarif.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        transition: 0.5s;
    }

    .hover-horaires {
        background-color: $blue-dark;
        height: 150px;
    }

    .hover-horaires a {
        height: 150px;
    }

    .hover-horaires:hover {
        background: url(../img/photos/page-visite/bsm-hover-horaires.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        transition: 0.5s;
    }

    .hover-visite {
        background-color: $medium-grey;
        height: 300px;
    }

    .hover-visite a {
        height: 300px;
    }

    .hover-visite:hover {
        background: url(../img/photos/page-visite/bsm-hover-visite.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        transition: 0.5s;
    }

    .hover-access {
        background-color: $yellow-bsm;
        height: 150px;
    }

    .hover-access a {
        height: 150px;
    }

    .hover-access:hover {
        background: url(../img/photos/page-visite/bsm-hover-access.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        transition: 0.5s;
    }

    .hover-proxy {
        background-color: $yellow-dark;
        height: 150px;
    }

    .hover-proxy a {
        height: 150px;
    }

    .hover-proxy:hover {
        background: url(../img/photos/page-visite/bsm-hover-proxy.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        transition: 0.5s;
    }
    
    .hover-events {
        background-color: $yellow-dark;
        height: 150px;
    }

    .hover-events a {
        height: 150px;
    }

    .hover-events:hover {
        background: url(../img/photos/page-visite/bsm-hover-events.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        transition: 0.5s;
    }

    .hover-medioacqua {
        background-color: $blue-green;
        height: 150px;
    }

    .hover-medioacqua a {
        height: 150px;
    }

    .hover-medioacqua:hover {
        background: url(../img/photos/page-visite/bsm-hover-medioacqua.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        transition: 0.5s;
    }

.h1-page {
    margin: 16% 0 4% auto;
}

.section-1 {
    margin-top: 15%;
}

    /*** PHOTO TEAM LBSM ***/ 

    .photo-profil-1 {
        background: url(../img/photos/page-visite/team/profil-1.png) no-repeat center;
        background-size: cover;
        height: 225px;
        width: 222px;
    }

    .photo-profil-2 {
        background: url(../img/photos/page-visite/team/profil-2.png) no-repeat center;
        background-size: cover;
        height: 225px;
        width: 222px;
    }

    .photo-profil-3 {
        background: url(../img/photos/page-visite/team/profil-3.png) no-repeat center;
        background-size: cover;
        height: 225px;
        width: 222px;
    }

    .photo-profil-4 {
        background: url(../img/photos/page-visite/team/profil-4.png) no-repeat center;
        background-size: cover;
        height: 225px;
        width: 222px;
    }
    
    .photo-profil-5 {
        background: url(../img/photos/page-visite/team/profil-5.png) no-repeat center;
        background-size: cover;
        height: 225px;
        width: 222px;
    }

    .prenom {
        margin-top: 15px;
        margin-bottom: 8px;
    }

    /*** Accèssibilité ***/

    .picto-tramb {
        background: url(../img/picto/access/picto-tramb.svg) no-repeat center;
        background-size: cover;
        height: 120px;
        width: 120px;
    }

    .picto-tramc {
        background: url(../img/picto/access/picto-tramc.svg) no-repeat center;
        background-size: cover;
        height: 120px;
        width: 120px;
    }

    .picto-vcub {
        background: url(../img/picto/access/picto-vcub.svg) no-repeat center;
        background-size: cover;
        height: 120px;
        width: 120px;
    }

    .picto-bus {
        background: url(../img/picto/access/picto-bus.svg) no-repeat center;
        background-size: cover;
        height: 120px;
        width: 120px;
    }
/***** Page PROGRAMMATION *****/

.body-programmation {
    height: 1950px;
    position: relative;
    @media (max-width: 1200px) {
        height: 1600px;
    }
    @media (max-width: 840px) {
        height: 1400px;
    }
    @media (max-width: 600px) {
        height: 1300px;
    }
}

.hover-events-big {
    background-color: $yellow-dark;
    height: 300px;
}

.hover-events-big a {
    height: 300px;
}

.hover-events-big:hover {
    background: url(../img/photos/page-visite/bsm-hover-events.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

.hover-medioacqua-big {
    background-color: $blue-green;
    height: 300px;
}

.hover-medioacqua-big a {
    height: 300px;
}

.hover-medioacqua-big:hover {
    background: url(../img/photos/page-visite/bsm-hover-medioacqua.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

/***** Page CONTACT *****/

.body-contact {
    height: 1950px;
    position: relative;
    @media (max-width: 1200px) {
        height: 1600px;
    }
    @media (max-width: 840px) {
        height: 1400px;
    }
    @media (max-width: 600px) {
        height: 1300px;
    }
}

.hover-social {
    background-color: $blue-green;
    height: 300px;
}

.hover-social a {
    height: 300px;
}

.hover-social:hover {
    background: url(../img/photos/page-contact/bsm-hover-social.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

.hover-contact {
    background-color: $yellow-bsm;
    height: 150px;
}

.hover-contact a {
    height: 150px;
}

.hover-contact:hover {
    background: url(../img/photos/page-contact/bsm-hover-contact.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

.hover-partners {
    background-color: $yellow-dark;
    height: 150px;
}

.hover-partners a {
    height: 150px;
}

.hover-partners:hover {
    background: url(../img/photos/page-contact/bsm-hover-partners.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}