/***** GOOGLE FONT *****/

@import url('https://fonts.googleapis.com/css?family=Changa:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

/***** COULEURS *****/

$light-grey: #818284;
$medium-grey:#414140;
$dark-grey:#1e2023;
$blue-green:#5cafa6;
$yellow-bsm:#f4c55c;

.light-grey {
    color: $light-grey;
}
.medium-grey {
    color: $medium-grey;
}
.dark-grey {
    color: $dark-grey;
}
.blue-green {
    color: $blue-green;
}
.yellow-bsm {
    color: $yellow-bsm;
}
.white {
    color: #ffffff;
}
.black {
    color: #000000;
}

/***** BACKGROUND COLORS *****/

.bg-light-grey {
    background-color: $light-grey;
}
.bg-medium-grey {
    background-color: $medium-grey;
}
.bg-dark-grey {
    background-color: $dark-grey;
}
.bg-blue-green {
    background-color: $blue-green;
}
.bg-yellow-bsm {
    background-color: $yellow-bsm;
}

/***** FONT & TITRES *****/
p {
    font-size: 14pt;
    font-family: 'Source Sans Pro';
    cursor: default;
    @media (max-width: 600px) {
        font-size: 10pt;
    }
}

.p-small p {
    font-size: 11pt;
    font-family: 'Source Sans Pro';
    color: $light-grey;
}

h1 {
    font-size: 50pt;
    font-family: 'Changa';
    color: $dark-grey;
    text-transform: uppercase;
}

h2 {
    font-size: 40pt;
    font-family: 'Changa';
    font-weight: bold;
    color: $dark-grey;
    text-transform: uppercase;
}

h3 {
    font-size: 25pt;
    font-family: 'Changa';
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
    @media (max-width: 840px) {
        margin-top: 10%;
        margin-bottom: 4%;
    }
    @media (max-width: 600px) {
        font-size: 18pt;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

h4 {
    font-size: 18pt;
    font-family: 'Changa';
    text-transform: uppercase;
    cursor: default;
    @media (max-width: 600px) {
        font-size: 12pt;
    }
}

h5 {
    font-size: 12pt;
    font-family: 'Changa';
    font-weight: bold;
    text-transform: uppercase;
}

h6 {
    font-size: 12pt;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    text-transform: uppercase;
}

/***** LOGOS & PICTOS *****/

.logo-fb-blue {
    background: url(../img/picto/fb-blue.svg) no-repeat center;
    height: 70px;
    width: 70px;
    margin: 35px 10% 0 auto;
}

.logo-fb-blue:hover {
        background: url(../img/picto/fb-hover.svg) no-repeat center;
        transition: 0.6s;
}

.logo-insta-blue {
    background: url(../img/picto/insta-blue.svg) no-repeat center;
    height: 70px;
    width: 70px;
    margin: 35px 10% 0 0;
}

.logo-insta-blue:hover {
        background: url(../img/picto/insta-hover.svg) no-repeat center;
        transition: 0.6s;
}

.logo-bsm-color {
    height: 150px;
    width: 150px;
    margin-left: 10%;
    @media (max-width: 840px) {
        width: 60%;
        height: 35%;
        margin-top: 5%;
        margin-left: auto;
    }
    @media (max-width: 600px) {
        width: 60%;
        height: 50%;
        margin-top: 5%;
        margin-left: auto;
    }
}

.logo-bsm-color-resp {
    height: 150px;
    width: 150px;
}

.logo-bsm-bk {
    height: 50px;
    width: 50px;
}

/***** NAVBAR *****/

.navbar {
    height: 156px;
    background: rgba(255, 255, 255, 0.7);
    width: 100vw;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    margin: 0 2% 0 auto;
    padding-right: 0;
    padding-left: 0;
}

.navbar ul li {
    display: inline-block;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar ul li a:hover {
    background: $blue-green;
    transition: 0.6s;
}

.navbar ul li a:active {
    background: $yellow-bsm;
    color: white;
}

.navbar ul li a{
    display: inline-block;
    font-size: 16pt;
    color: $dark-grey;
    text-align: center;
    padding: 58px 25px 0 25px;
    text-decoration: none;
    height: 100%;
}


/***** BUTTONS *****/

.button-white-down {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 820px;
    right: 5%;
}

.button-white-up {
    height: 50px;
    width: 50px;
}

.button-grey {
    height: 50px;
    width: 50px;
}

/***** ACCUEIL *****/

html {
    scroll-behavior: smooth;
}

body {
    height: 2800px;
    position: relative;
    @media (max-width: 840px) {
        height: 2300px;
    }
    @media (max-width: 600px) {
        height: 1940px;
    }
}
.sea {
    background: url(../img/photos/background-index.jpg) no-repeat;
    margin: 0;
}

.index-header {
    height: 150px;
}

.h1-accueil {
    font-size: 55pt;
    text-orientation: upright;
    letter-spacing: -40px;
    writing-mode: vertical-lr;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 50%;
    cursor: default;
    @media (max-width: 840px) {
        font-size: 30pt;
        text-orientation: initial;
        letter-spacing: initial;
        writing-mode: initial;
    }
}

.h3-accueil a{
    text-decoration: none;
    color: white;
    :hover {
        color: $blue-green
    }
}

.box-h1 {
    width: 100px;
    height: 1900px;
    margin-top: 8%;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 840px) {
        width: 80%;
    }
}

.picto-sous-marin {
    top: 100px;
    width: 400px;
    z-index: -1;
    @media (max-width: 840px) {
        max-width: 80%;
    }
}

#menu-lbsm {
    position: absolute;
    top: 950px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
#menu-visite {
    position: absolute;
    top: 1450px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
#menu-programmation {
    position: absolute;
    top: 1200px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
#menu-contact {
    position: absolute;
    top: 2000px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

/***** RESPONSIVE ACCUEIL *****/ 

.mobile a{
    text-decoration: none;
    color: $yellow-bsm;
}

.mobile h4{
    color: $blue-green;
}

.mobile p{
    color: white;
}


/***** FOOTER *****/

.menu-footer p {
    margin: 5px;
}

.contact-footer {
    padding-top: 35px;
}

.footer-resp p {
    font-size: 12pt;
    margin-top: 20px;
}

a.mentions:link{
    text-decoration: none;
}

.align-footer {
    padding-top: 30px;
}

.align-footer-p {
    margin-top: 24px;
}

.ancre-footer {
    padding-top: 30px;
}

footer {
    width: 100vw;
    height: 450px;
    bottom: 0;
    // padding-top: 10px;
    @media (max-width: 840px) {
        height : 270px;
    }
}
.mail-footer {
    color: $dark-grey;
    padding: 3% 2% 3% 4%;
    width: 250px;
}

button[type=submit] {
    background-color: transparent;
    border: none;
}

.send-button {
    background: url(../img/picto/button/send-grey.svg) no-repeat center;
    height: 43px;
    width: 150px;
    cursor: pointer;
}

.send-button:hover {
    background: url(../img/picto/button/send-clear.svg) no-repeat center;
    transition: 0.8s;
}

.logo-fb-footer {
    background: url(../img/picto/fb-blue.svg) no-repeat center;
    height: 50px;
    width: 50px;
    margin: 10px auto 10px auto;
}

.logo-fb-footer:hover {
    background: url(../img/picto/fb-hover.svg) no-repeat center;
    transition: 0.6s;
}

.logo-insta-footer {
    background: url(../img/picto/insta-blue.svg) no-repeat center;
    height: 50px;
    width: 50px;
    margin: 10px auto 10px auto;
}

.logo-insta-footer:hover {
    background: url(../img/picto/insta-hover.svg) no-repeat center;
    transition: 0.6s;
}

.logo-bsm-footer {
    background: url(../img/picto/logo-bsm-bk.svg) no-repeat center;
    height: 100px;
    width: 150px;
    margin: auto;
}

.logo-fb-resp {
    background: url(../img/picto/fb-blue.svg) no-repeat center;
    height: 60px;
    width: 60px;
    margin: 20px auto;
}

.logo-fb-resp:hover {
        background: url(../img/picto/fb-hover.svg) no-repeat center;
        transition: 0.6s;
}

.logo-insta-resp {
    background: url(../img/picto/insta-blue.svg) no-repeat center;
    height: 60px;
    width: 60px;
    margin: 20px auto;
}

.logo-insta-resp:hover {
    background: url(../img/picto/insta-hover.svg) no-repeat center;
    transition: 0.6s;
}

/***** Page LBSM *****/

.bsm-hero {
    background: url(../img/photos/bsm-hero.jpg) no-repeat center;
    height: 100vh;
    background-size: cover;
    margin-top: 156px;
    
}