/***** GOOGLE FONT *****/
@import url('https://fonts.googleapis.com/css?family=Changa:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

/***** COULEURS *****/
$light-grey: #818284;
$medium-grey:#414140;
$dark-grey:#1e2023;
$blue-green:#5cafa6;
$yellow-bsm:#f4c55c;

.light-grey {
    color: $light-grey;
}
.medium-grey {
    color: $medium-grey;
}
.dark-grey {
    color: $dark-grey;
}
.blue-green {
    color: $blue-green;
}
.yellow-bsm {
    color: $yellow-bsm;
}
.white {
    color: #ffffff;
}
.black {
    color: #000000;
}

/***** BACKGROUND *****/

.bg-light-grey {
    background-color:$light-grey;
}
.bg-medium-grey {
    background-color: $medium-grey;
}
.bg-dark-grey {
    background-color: $dark-grey;
}
.bg-blue-green {
    background-color: $blue-green;
}
.bg-yellow-bsm {
    background-color: $yellow-bsm;
}

/***** LOGOS SOCIAUX *****/

.logo-fb-blue {
    background: url(../img/picto/fb-blue.svg);
    height: 50px;
    width: 50px;
    margin-left: 20px;
}
.logo-insta-blue {
    background: url(../img/picto/insta-blue.svg);
    height: 50px;
    width: 50px;
    margin-left: 20px;
}


.pages {
    text-decoration: none;
    padding-left: 20px;
}

/***** BUTTONS *****/

.button-white {
    background: url(../img/picto/button/button-white.svg);
    height: 50px;
    width: 50px;
}

.button-grey {
    background: url(../img/picto/button/button-grey.svg);
    height: 50px;
    width: 50px;
}